{% extends "base.html" %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | UBook Account Management{% endblock %}

{% block body-content %}
<div class='container'>
    <div class="row justify-content-center password-reset-card">
        <div class="col-md-6">
            <div class="card ">
              <h5 class="card-header">Password Reset Form</h5> 
                  
                <div class="card-body">
                  <p class="card-text">Please Enter your registered email address below to confirm your identity.</p>
                  <form method='POST'>
                    {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name='email' type="email" class="form-control" id="email" placeholder="name@example.com" required>
                      </div>
                    </div>
                  </div>
                    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                  </form>
                  
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}

