{% extends 'base.html' %}
{% load static %}

{% block body-content %}
<article class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="login-main">
                <h4><i class="fa fa-dashboard"></i> Gorgeous color and design</h4>
                <span>Some sample description text about the template goes here</span>

                <h4> <i class="fa fa-money"></i> 100%  fully responsive </h4>
                <span>Another description text about the template goes here</span>

                <h4><i class="fa fa-mobile-phone"></i> Competible with all browers and mobile devices</h4>
                <span>Yet another sample description text can be placed in one line</span>

                <h4> <i class="fa fa-trophy"></i> Easy to use and custmize with mobile friendly and responsive</h4>
                <span>Your last description text about your startup or business</span>
            </div>
        </div>
        <div class="col-sm-4">
          <form action={% url 'accounts:register' %} method="POST">
            {% csrf_token %}
            <div class="register-main">
            
            <h3>Register now</h3>
              <hr>
              <div class="row">
                <div class="form-group col-md-6 col-s-12">
                    <label for="firstname" >First Name</label>
                    <input id="firstname" class="form-control" type="text" name="firstname"
                           placeholder="First name" required>
                </div>
    
                <div class="form-group col-md-6 col-s-12">
                    <label for="lastname" >Last Name</label>
                    <input id="lastname" class="form-control" type="text" name="lastname"
                           placeholder="Last name" required>
                </div>
            </div> 
            <div class="form-group">
              <label class="control-label" for="">Email Address</label>
              <input type="email" class="form-control" placeholder="Email Address" name='email' required>
            </div>

            <div class="form-group">
              <label class="control-label" for="">Password</label>
              <input type="password" class="form-control" placeholder="Password" name='password1' required>
            </div>

            <div class="form-group">
              <label class="control-label" for="">Repeat Password</label>
              <input type="password" class="form-control" placeholder="Repeat Password" name='password2' required>
            </div>

            <div class="form-group">
              <label for="birthday">Birthday:</label>
              <div class="form-group">
                <input type="date"  name="birthday" class="form-control" required>   
              </div>
            </div>
            <div class="form-group">
              <label for="gender">Gender:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id='gender-male' value='M' required>
                <label class="form-check-label" for="gender-male">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender-male" value='F' >
                <label class="form-check-label" for="gender-female">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender-others" value='O'>
                <label class="form-check-label" for="gender-others">
                  Others
                </label>
              </div>
            </div>
          
            <small>
                By clicking Sign Up, you agree to our Terms and that you have read our
                 Data Use Policy, including our Cookie Use.
            </small>	 
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Sign Up">
            </div>	 

              </div>
            </form>
        </div>
        </div>
    </div>
</article>
{% endblock %}

