

.login-bottom-text{
	margin: 0px;
	padding-top: 2px;
	font-size: 12px;
	color: white;
	line-height: 19px;
    
}
.login-bottom-text a:link, .login-bottom-text a:hover, .login-bottom-text a:visited{
    color: white;
    text-decoration: none;
}
.login-bottom-text a:hover{
    text-decoration:underline;
}

header .form-group{
	margin-bottom: 0px;
}



