body{
    font-family: 'Open Sans', sans-serif;
}

.alert{
    margin-bottom: 0;
}

.logo i {
	font-size: 31px;
	margin-right: 4px;
	word-spacing: 14px;
}
.logo{
	color: white;
	margin: 0;
	font-size: 20px;
	padding: 4px 40px;
	
}

header{
	background: #3b5998;
	padding-top: 5px;
    padding-bottom: 5px;
}

header .form-group{
	margin-bottom: 0px;
}
header .btn-header-login{
	margin-bottom: 15px;	
}

.profile-badge{
	background-color: #ffffff;
	opacity: 0.2;
}



.login-bottom-text{
	margin: 0px;
	padding-top: 2px;
	font-size: 12px;
	color: white;
	line-height: 19px;
    
}
.login-bottom-text a:link, .login-bottom-text a:hover, .login-bottom-text a:visited{
    color: white;
    text-decoration: none;
}
.login-bottom-text a:hover{
    text-decoration:underline;
}



.login-main{
	margin-top: 130px;
}

.register-main{
	margin-top: 50px;
}
.multibox{
	padding-left: 0px;
	padding-bottom: 10px;
}
.login-main span{
	font-size: 12px;
} 

.profile-image{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}



